echo "MONGODB_URI=mongodb+srv://zavychaponan_db_user:4E_VidaPorVida_2025%21@cluster4e.tdlsvx4.mongodb.net/iglesia-4e?retryWrites=true&w=majority&appName=cluster4e
JWT_SECRET=clave_secreta_desarrollo
PORT=5000
NODE_ENV=development"